
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Registrate !</h2>
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Name">Nombre:</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="Lastname">Apellido:</label>
                        <input type="text" class="form-control" id="Lastname" name="Lastname" required>
                    </div>
                    <div class="form-group">
                        <label for="Age">Edad:</label>
                        <input type="number" class="form-control" id="Age" name="Age" required>
                    </div>

                    <div class="form-group">
                        <label for="ProfilePicture">Foto:</label>
                        <input type="file" name="ProfilePicture" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Enviar</button>
                </form>
            </div>
        </div>
    </div>

